@import "_variables";

   header{
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    display: block;
    position:fixed;
    z-index: 1;
    @extend %primary-background-color;
    .header{
        width: 100%;
        padding: .5rem 1rem 0rem 1rem;
        margin: 0px;
        max-height: 40px;
        display: flex;
        justify-content: space-between;
        .logo{
            margin: 0px;
            padding: 0px;
            width: 36px;
        }
        nav{
            padding: 0.3rem 2rem 0rem 0rem;
            justify-content: center;
            align-content: center;
            .dropdown{
                display: flex;
                flex-direction: column;
                text-decoration: none;
                width: 30px;
                ul {
                    display: none;
                    margin: 14px 0px 0px -275px;
                    padding: 8px;
                    width: 320px;
                    list-style-type: none;
                    @extend %secundary-background-color;
                    li{
                        width: 12.5rem;
                        padding: 0.5rem;
                        width: 100%;
                        a{
                            @include headerText;
                            &:link{
                                text-decoration: none;
                            }
                            &:visited{
                                @include headerText;
                            }
                            &:hover{
                                @extend %header-text-hover;
                            }
                            &:active{
                                @extend %header-text-active;
                            }
                        }
                    }
                    
                }
                input:checked ~ ul {
                    display: block;
                }
                // input:checked {
                //     ~ {
                //         span {
                //             &:nth-of-type(1) {
                //                 transform-origin: bottom;
                //                 transform: rotatez(45deg) translate(4.5px,4.5px);
                //             }
                //             &:nth-of-type(2) {
                //                 transform-origin: top;
                //                 transform: rotatez(-45deg);
                //             }
                //             &:nth-of-type(3) {
                //                 transform-origin: bottom;
                //                 width: 50%;
                //                 transform: translate(3px,-11px) rotatez(45deg);
                //             }
                //         }
                //     }
                // }
                input {
                    display: none;
                }

                // label {
                //     box-sizing: border-box;
                //     display: block;
                //     border-radius: 5px;
                //     width: 30px;
                //     height: 30px;
                //     line-height: 30px;
                //     font-weight: bold;
                //     font-size: 2rem;
                //     text-align: right;
                //     user-select: none;
                //     float: right;
                // }
                label {
                    display: flex;
                    flex-direction: column;
                    width: 1.5rem;
                    user-select: none;
                    cursor: pointer;
                    span {
                        background: black;
                        border-radius: 10px;
                        height: 3px;
                        margin: 2px 0;
                        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
                    }
                }
                span {
                    &:nth-of-type(1) {
                        width: 100%;
                    }
                    &:nth-of-type(2) {
                        width: 100%;
                    }
                    &:nth-of-type(3) {
                        width: 100%;
                    }
                }
                // input[type="checkbox"] {
                //     display: none;
                //     &:checked {
                //         ul{
                //             display: flex;
                //         }
                //         ~ {
                //             span {
                //                 &:nth-of-type(1) {
                //                     transform-origin: bottom;
                //                     transform: rotatez(45deg) translate(4.5px,4.5px);
                //                 }
                //                 &:nth-of-type(2) {
                //                     transform-origin: top;
                //                     transform: rotatez(-45deg);
                //                 }
                //                 &:nth-of-type(3) {
                //                     transform-origin: bottom;
                //                     width: 50%;
                //                     transform: translate(3px,-11px) rotatez(45deg);
                //                 }
                //             }
                //         }
                //     }
                // }
            }
            .nav_bar{
                display: none;
                justify-content: space-between;
                align-content: flex-start;
                width: 482px;
                @include header-text-desktop;
                a:link{
                    text-decoration: none;
                }
                a:visited{
                    @include header-text-desktop;
                }
                a:hover{
                    @extend %header-text-hover;
                }
                a:active{
                    @extend %header-text-active;
                }
                .bar:hover ~ a{
                    
                }
            }
        }
    }
}


@media screen and (min-width: 800px){
    header{
        .header{
            padding: 15px 100px;
            nav{
                padding: 0rem;
                .dropdown{
                    display: none;
                }
                .nav_bar{
                    display: flex;
                    justify-content: space-between;
                    align-content: flex-start;
                    padding: 5px 12.5rem 0px 0px;
                    
                }
            }
        }
    }
}