@import "_variables";

header{
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    justify-content: space-between;
    position:fixed;
    z-index: 1;
    @extend %primary-background-color;
    .logo{
        margin: 0px;
        padding: .5rem 0px 0rem 1rem;
        width: 36px;
    }
    .dropdown-menu{
        label {
            display: flex;
            flex-direction: column;
            width: 1.5rem;
            padding: .6rem 1rem .5rem 0rem;
            cursor: pointer;
            span {
                background: rgb(10, 0, 0);
                border-radius: 10px;
                height: 3px;
                margin: 2px 0;
                transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
            }
        }
        span {
            &:nth-of-type(1) {
                width: 100%;
            }
            &:nth-of-type(2) {
                width: 100%;
            }
            &:nth-of-type(3) {
                width: 100%;
            }
        }
        input[type="checkbox"] {
            display: none;
            &:checked {
                ~ {
                    span {
                        &:nth-of-type(1) {
                            transform-origin: bottom;
                            transform: rotatez(45deg) translate(4.5px,4.5px);
                        }
                        &:nth-of-type(2) {
                            transform-origin: top;
                            transform: rotatez(-45deg);
                        }
                        &:nth-of-type(3) {
                            transform-origin: bottom;
                            width: 50%;
                            transform: translate(3px,-11px) rotatez(45deg);
                        }
                    }
                    .menu{
                        margin: 13px 0px 0px -280px;
                        transition: .5s;
                    }
                }
            }
        }
        .menu{
            position: absolute;
            margin: 13px 0px 0px 70px;;
            ul {
                display: block;
                padding: 0px;
                width: 320px;
                list-style-type: none;
                @extend %secundary-background-color;
                li{
                    width: 100%;
                    a{
                        width: 100%;
                        margin: 0px;
                        @include headerText;
                        &:link{
                            text-decoration: none;
                        }
                        &:visited{
                            @include headerText;
                        }
                        &:hover{
                            @extend %header-text-hover;
                        }
                        &:active{
                            @extend %header-text-active;
                        }
                        p{
                            width: 100%;
                            padding: 8px 15px;
                            margin: 0px;
                        }
                    }
                }   
            }
        }
    }
    .nav-bar{
        display:none;
        justify-content: space-between;
        align-content: flex-start;
        width: 482px;
        a{
            @include header-text-desktop;
            &:link{
                text-decoration: none;
            }
            &:visited{
                @include header-text-desktop;
            }
            &:hover{
                @extend %header-text-hover;
            }
            &:active{
                @extend %header-text-active;
            }
        }
    }
}


@media screen and (min-width: 800px){
    header{
        padding: 15px 100px;
        .dropdown-menu{
            display: none;
        }
        .nav-bar{
            display: flex;
            justify-content: space-between;
            align-content: flex-start;
            padding: 5px 12.5rem 0px 0px;
        }
    }
}