@import "_variables";

.title{
    padding: 4rem 1rem 0rem 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    .title-header-container{
        display: flex;
        flex-wrap: wrap;
        .title-header{
            width: fit-content;
            @include title-header;
        }
        .title-header2{
            text-decoration: line-through;
            padding: 1px;
        }
        .title-header3{
            width: 220px;
        }
        .title-header4{
            @include title-header-dot;
        }
    }
    .titleContent{
        margin-top: 2px;
        .content-mobile{
            width: 288px;
            @include text-content;
        }
        .content-desktop{
            display: none;
            max-width: 628px;
            @include text-content-desktop;
        }
    }
    .title-button{
        margin-top: 26px;
        margin-bottom: 51px;
        width: 100%;
        .btn{
            width: 288px;
            height: 48px;
            padding: 12px 90px;
            @extend %buttonText;
            @extend %button;
            &:hover{
                @extend %buttonTextHover;
                @extend %buttonHover;
            }
            &:link{
                text-decoration: none;
            }
        }
    }
}
.episodios{
    padding-top: 46px;
    padding-bottom: 143.5px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    .episodiostitle{
        margin-left: 1rem;
        @include title-secondary;
    }
    .episodes{
        margin: 0px 3%;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        flex-wrap: wrap;
        .episode{
            max-width: 584px;
            height: 232px;
            margin: 10px;
        }
        iframe{
            width: 100%;
            height: 232px; 
            border: 0;
        }
    }
}
.nosotros{
    margin: 0px 0px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    .nosotrosImg{
        margin-top: -110px;
        position: relative;
        img{
            width: 320px;
        }
    }
    .nosotrosBox{
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0rem 1rem;
        .nosotrosTitle{
            margin: 0rem;
            height: fit-content;
            @include title-primary;
            p{
                margin: 0rem
            }
        }
        .nosotrosContent{
            @include text-content;
        }
    }
}
.entrevistas{
    margin: 0px;
    padding: 0px;
    .entrevistasTitle{
        margin: 0px 16px;
        @include title-primary;
    }
    .entrevistasImg{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .image{
            margin: 0px;
            padding: 0px;
            max-width: 320px;
            max-height: 243px; 
        }
        img{
            width: 320px;
            height: 243px; 
            margin: 0px;
            padding: 0px;
        }
    }
}
.topicos{
    margin: 48px 1rem 0px 1rem;
    .topicosTitle{
        @include title-primary;
    }
    .topicosContent{
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 104px;
            max-height: 104px;
        }
        p{
            margin: 1rem 0rem 0rem 0rem;
            @include topics-text;
        }
        .tema{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 0rem;
        }
        .temaSimbol{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
        .temaTexto2{
            width: 288px;
        }
        .temaTexto4{
            width: 288px;
        }
    }
}
.novedades{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .novedadesTitle{
        margin-top: 64px;
        @include title-secondary;
        text-align: center;
    }
    .novedadesButton{
        margin-bottom: 151px;
        .novedades-btn{

            padding: 12px 30px;
            @extend %buttonText;
            @extend %button;
            &:hover{
                @extend %buttonTextHover;
                @extend %buttonHover;
            }
            &:link{
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 800px){
    .title{
        padding: 150px 200px 0px 200px;
        justify-content: left;
        align-items:flex-start;
        .title-header-container{
            display: flex;
            .title-header{
                @include title-header-desktop;
                padding-top: 15px;
            }
            .title-header3{
                width: 391px;
            }
            .title-header4{
                @include title-header-dot-desktop;
            }
        }
        .titleContent{
            .content-mobile{
                display: none;
            }
            .content-desktop{
                display: inline-block;
            }
        }
        .title-button{
            margin-top: 56px;
            
        }

    }
    .episodios{
        padding-top: 110px;
        padding-bottom: 232px;
        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        .episodiostitle{
            margin-left: 200px;
            font-size: 48px;
            @include title-secondary-desktop;
        }
        .episodes{
            margin: 0px;
            display: flex;
            justify-content: space-between;
            justify-content: center;
            flex-wrap: wrap;
            .episode{
                width: 564px;
                height: 232px;
                margin: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .nosotros{
        margin: 0px 200px;
        display: flex;
        flex-flow: row wrap;
        .nosotrosImg{
            margin-top: -150px;
            position: relative;
            width: fit-content;
            img{
                width: 447.6px;
            }
        }
        .nosotrosBox{
            display: flex;
            flex-direction: column;
            margin-left: 0rem;
            .nosotrosTitle{
                @include title-primary-desktop;
            }
            .nosotrosContent{
                max-width: 400px;
                @include text-content-desktop;
            }
        }
    }
    .entrevistas{
        margin: 0px;
        padding: 0px;
        .entrevistasTitle{
            margin: 0px 200px;
            @include title-primary-desktop;
        }
        .entrevistasImg{
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            .image{
                margin: 0px;
                padding: 0px;
                max-width: 480px;
                max-height: 364px; 
            }
            img{
                width: 480px;
                height: 364px; 
                margin: 0px;
                padding: 0px;
            }
        }
    }
    .topicos{
        margin: 64px 200px 34px 200px;
        .topicosTitle{
            @include title-primary-desktop;
        }
        .topicosContent{
            margin-top: 56px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            @include topics-text-desktop;
            img{
                width: 104px;
                height: 104px;
            }
            .tema{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 210px;
            }
            .temaSimbol{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .temaTexto2{
                width: 220px;
            }
            .temaTexto4{
                width: 220px;
            }
        }
    }
    .novedades{
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        .novedadesTitle{
            margin-top: 213px;
            text-align: center;
            @include title-secondary-desktop;
        }
        .novedadesButton{
            margin-bottom: 151px;
        }
    }
}
